.table td,
.table th,
.table thead th {
  border: 0;
  width: 22%;
}
.table th {
  font-size: 12px;
  font-weight: bold;
}
.table td {
  font-size:  12px;

}
.form-select {
  width: 40%;
}
.btn {
  border: 0;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
#mySelect {
  width: 120px;
}
.cart-quantity-input {
  width: 5rem;
}
.cart-quantity {
  width: 5rem;
}
.cart_items {
  padding-left: 50px;
  padding-right: 50px;
}
#addToCartBtn {
  background-color: #37a000;
  color: white;
  line-height: 1.3;
  width: 20%;
}
