.placed_order {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
}
.successful_order_label {
  font-size: 18px;
  font-weight: bold;
}

p:first-of-type {
  margin-bottom: 50px;
}
/* p:last-of-type {
  margin-bottom: 45px;
} */

.closebtn {
  width: 130.8px;
}
html,
body {
  overflow-x: hidden;
}
